<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5.4.3/dist/photoswipe.css"/>   
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="site-wrapper">
        <header class="site-header block-padding">  
            <div class="site-header__inner block-width">
                <div class="site-header__langs">
                    <div class="site-header__langs-item"><a href="javascript:void(0);">EN</a></div>
                    <div class="site-header__langs-item"><a href="javascript:void(0);">PL</a></div>
                </div>
                <div class="site-header__logo">
                    <img src="img/logo.svg" alt="logo">
                </div>
                <div class="site-header__menu">
                    <nav>
                        <ul>
                            <li><a href="#projects">Projekty</a></li>
                            <li><a href="#prices">Cena</a></li>
                            <li><a href="#contacts">Kontakt</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="site-header__burger-btn">
                    <a href="javascript:void(0);">
                        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.33331 37.5H41.6666" stroke="#FCEFDA" stroke-width="4" stroke-linecap="round"/>
                            <path d="M8.33331 25H41.6666" stroke="#FCEFDA" stroke-width="4" stroke-linecap="round"/>
                            <path d="M8.33331 12.5H41.6666" stroke="#FCEFDA" stroke-width="4" stroke-linecap="round"/>
                        </svg>
                    </a>
                </div>
            </div>
        </header>