include _header.jade

<section class="project-hero">
    <div class="project-hero__inner">
        <div class="project-hero__image">
            <img src="img/project-hero.png" alt="project-hero">
        </div>
    </div>
</section>

<section class="project-gallery">
    <div class="project-gallery__inner">
        <div class="project-gallery__text-block block-padding">
            <div class="block-width">
                <div class="project-gallery__title">Flux Matcha & Frytki</div>
                <div class="project-gallery__text">
                    <p>jestem Milana, mieszkam w Gdańsku.<br>Dzięki doświadczeniu w UX, brandingu i ilustracji od 10+ lat, tworzę strony i materiały wizualne, które nie tylko wyglądają dobrze - ale też przyciągają klientów.</p>
                </div>
            </div>
        </div>
        <div class="project-gallery__gallery">
            <div class="project-gallery__gallery-item">
                <a href="img/gallery.png">
                    <img src="img/gallery.png" alt="gallery">
                </a>
            </div>
            <div class="project-gallery__gallery-item">
                <a href="img/gallery2.png">
                    <img src="img/gallery2.png" alt="gallery">
                </a>
            </div>
            <div class="project-gallery__gallery-item">
                <a href="img/gallery3.png">
                    <img src="img/gallery3.png" alt="gallery">
                </a>
            </div>
            <div class="project-gallery__gallery-item">
                <a href="img/gallery4.png">
                    <img src="img/gallery4.png" alt="gallery">
                </a>
            </div>
        </div>
    </div>
</section>

<section class="project-images">
    <div class="project-images__inner">
        <div class="project-images__text-block block-padding">
            <div class="block-width">
                <div class="project-images__title">Flux Matcha & Frytki</div>
                <div class="project-images__text">
                    <p>jestem Milana, mieszkam w Gdańsku.<br>Dzięki doświadczeniu w UX, brandingu i ilustracji od 10+ lat, tworzę strony i materiały wizualne, które nie tylko wyglądają dobrze - ale też przyciągają klientów.</p>
                </div>
            </div>
        </div>
        <div class="project-images__images">
            <div class="project-images__images-item">
                <a href="img/project-image.png">
                    <img src="img/project-image.png" alt="project-image">
                </a>
            </div>
            <div class="project-images__images-item">
                <a href="img/project-image2.png">
                    <img src="img/project-image2.png" alt="project-image">
                </a>
            </div>
            <div class="project-images__images-item">
                <a href="img/project-image3.png">
                    <img src="img/project-image3.png" alt="project-image">
                </a>
            </div>
        </div>
    </div>
</section>

include _bottom.jade